<h1>Notes</h1>

{{#if isAuthenticated}}
    <p><a href="/notes/create">Add new note</a></p>
{{/if}}

{{#if hasNotes}}
    <table class="notes-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                {{#if isAuthenticated}}
                    <th>Actions</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each notes}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.body}}</td>
                    {{#if ../isAuthenticated}}
                        <td>
                            <a href="/notes/update/{{this.encodedTitle}}">Edit</a>
                            <a href="/notes/delete/{{this.encodedTitle}}">Delete</a>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No notes yet.</p>
{{/if}}
